
<html ng-app="app">
  <head>
    <title>Door Controller Test Tool</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>  
    <script src="app.js"></script>
    <!-- To fix navbar -->

    <style type="text/css">
      .hand {
        cursor: pointer;
      }    
      .icon {    
      text-shadow: 3px 3px 3px #ccc;  
      }    
      .greenLED-on {
        color:#92CD00;
      }
      .greenLED-off {
        color:#D74B4B;
      }
      .input-active {
        color:#4080FF;
      }
      .input-inactive {
        color:#ECE9E4;
      }
      .output-active {
        color:#03A711;
      }
      .output-inactive {
        color:#ECE9E4;
      }
	  
    </style>

<!--
################################################################################################
#
#  PARTIALS
#
################################################################################################
-->

<!-- READER PARTIAL-->
<script type="text/ng-template" id="reader.htm">
  <div class="panel panel-default">
    
    <div class="panel-heading">
      Reader 
      <small class="pull-right text-muted"><em>{{reader.Wiegand.Id}}</em></small>
    </div>  

    <div class="panel-body">      
      <div ng-if="reader['GreenLED'] || reader['Beeper']">        
        <!-- LED & BEEPER -->
          <span>
            <p class="text-center">
              <i ng-if="reader['GreenLED']" class="fa fa-circle fa-2x" ng-class="{'greenLED-on': reader['GreenLED'].IsActive, 'greenLED-off': !reader['GreenLED'].IsActive}"></i>
              &nbsp
                <i ng-if="reader['Beeper']" class="fa fa-2x" ng-class="{'fa-volume-up': reader['Beeper'].IsActive, 'fa-volume-off': !reader['Beeper'].IsActive}"></i>
            </p>
          </span>          
        </div>

        <br>
        <!-- PIN DIGITS -->
        <div class="btn-group btn-group-justified">
          <a id="keypad-1" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('1', door.Id, reader.Wiegand.Id)"><strong>1</strong></a>
          <a id="keypad-2" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('2', door.Id, reader.Wiegand.Id)"><strong>2</strong></a>
          <a id="keypad-3" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('3', door.Id, reader.Wiegand.Id)"><strong>3</strong></a>
        </div>
        <br>
        <div class="btn-group btn-group-justified">
          <a id="keypad-4" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('4', door.Id, reader.Wiegand.Id)"><strong>4</strong></a>
          <a id="keypad-5" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('5', door.Id, reader.Wiegand.Id)"><strong>5</strong></a>
          <a id="keypad-6" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('6', door.Id, reader.Wiegand.Id)"><strong>6</strong></a>
        </div>
        <br>
        <div class="btn-group btn-group-justified">
          <a id="keypad-7" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('7', door.Id, reader.Wiegand.Id)"><strong>7</strong></a>
          <a id="keypad-8" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('8', door.Id, reader.Wiegand.Id)"><strong>8</strong></a>
          <a id="keypad-9" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('9', door.Id, reader.Wiegand.Id)"><strong>9</strong></a>
        </div>
        <br>
        <div class="btn-group btn-group-justified">
          <a id="keypad-asterisk" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('*', door.Id, reader.Wiegand.Id)">
            <i class="fa fa-asterisk"> </i>
          </a>
          <a id="keypad-0" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('0', door.Id, reader.Wiegand.Id)"><strong>0</strong></a>
          <a id="keypad-hash" class="btn btn-default" ng-mousedown="keypadPlaySound()" ng-class="isConnected() ? '' : 'disabled'" ng-click="keypadPress('#', door.Id, reader.Wiegand.Id)"><strong>#</strong></a>
        </div>
      </div>
      <br>
      <!-- SEND PIN -->
      
      <div class="input-group">
        <input type="text" class="form-control" placeholder="PIN Code" ng-disabled="!isConnected()" ng-model="pinSequence">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-disabled="!isConnected()" ng-click="sendPinSequence(pinSequence, door.Id, reader.Wiegand.Id)"><i class="fa fa-mail-reply fa-lg"></i>&nbsp
          </button>
        </span>
      </div>
      <br>
      <!-- SWIPE CARD -->
      
      <div>            
        <div id="cardTextField" class="row">
          <div style="padding-right: 0px" class="col-xs-4 col-md-4">
            <input id="facilityCodeTextField" type="text" class="form-control" placeholder="Fac. Code" ng-disabled="!isConnected()" ng-model="facilityCode">
          </div>
          <div style="padding-left: 2px" class="col-xs-12 col-md-8">
            <div class="input-group">
              <input id="cardNumberTextField" type="text" class="form-control" placeholder="Card Number" ng-disabled="!isConnected()" ng-model="cardNumber">
              <span class="input-group-btn">                                            
                <button id="swipeButton" class="btn btn-default" type="button" ng-disabled="!isConnected()" ng-click="swipeCard(facilityCode, cardNumber, door.Id, reader.Wiegand.Id)"><i class="fa fa-rotate-90 fa-credit-card fa-lg"></i>&nbsp</button>
              </span>
            </div>
          </div>            
        </div>
      </div>    
    </div>

  </div>  
</script>

<!-- LOCK PARTIAL-->
<script type="text/ng-template" id="lock.htm">
  <div class="panel panel-default">
    <div class="panel-heading">
    Lock <small class="pull-right text-muted"><em>{{lock.Id}}</em></small>
    </div>
    <div class="panel-body">
      <div>
          <p ng-show="isConnected()" align="center">
            <i class="icon fa fa-4x" ng-class="{'fa-lock': lock.IsActive, 'fa-unlock': !lock.IsActive}"></i>
        </p>      
      </div>
    </div>
  </div>
</script>

<!-- DOOR MONITOR PARTIAL-->
<script type="text/ng-template" id="doormon.htm">
  <div class="panel panel-default">
    <div class="panel-heading">
      Door <small class="pull-right text-muted"><em>{{doormonitor.Id}}</em></small>
    </div>
    <div class="panel-body">
      <div>
        <p ng-show="isConnected()" align="center"><i class="fa fa-rotate-90 fa-3x" ng-class="{'fa-folder-open': doormonitor.IsActive, 'fa-folder': !doormonitor.IsActive}"></i></p>

        <button ng-show="isConnected()" id="doorMonitor" type="button" class="btn btn-default btn-md btn-block" ng-disabled="!isConnected()" ng-click="getDoorButton(door, doormonitor).action()">
          {{getDoorButton(door, doormonitor).text}}
        </button>      
      </div>
    </div>
  </div>
</script>

<!-- INPUT PARTIAL-->
<script type="text/ng-template" id="input.htm">
  <div class="panel panel-default">
    <div class="panel-heading">
      Input <small class="pull-right text-muted"><em>{{input.Id}}</em></small>
    </div>
    <div class="panel-body">
      <div>   
		<p ng-show="isConnected()" align="center">
		  <i class="fa fa-power-off fa-3x" ng-class="{'input-active': input.IsActive, 'input-inactive': !input.IsActive}"></i>
		</p>
        <button ng-show="isConnected()" id="inputButton" type="button" class="btn btn-default btn-md btn-block" ng-disabled="!isConnected()" ng-click="getInputButton(door, input).action()">
          {{getInputButton(door, input).text}}
        </button>    
      </div>
    </div>
  </div>  
</script>

<!-- OUTPUT PARTIAL-->
<script type="text/ng-template" id="output.htm">
  <div class="panel panel-default">
    <div class="panel-heading">
      Output <small class="pull-right text-muted"><em>{{output.Id}}</em></small>
    </div>
    <div class="panel-body">
      <div>   
		<p ng-show="isConnected()" align="center">
		  <i class="fa fa-lightbulb-o fa-3x" ng-class="{'output-active': output.IsActive, 'output-inactive': !output.IsActive}"></i>
		</p>
      </div>
    </div>
  </div>  
</script>

<!-- REX PARTIAL-->
<script type="text/ng-template" id="rex.htm">
  <div class="panel panel-default">
    <div class="panel-heading">
      REX <small class="pull-right text-muted"><em>{{rex.Id}}</em></small>
    </div>
    <div class="panel-body">
      <div>        
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button id="rexButton" type="button" class="btn btn-default btn-lg btn-block" ng-disabled="!isConnected()" ng-click="pushRexButton(door.Id, rex.Id)">           
              <i class="fa fa-sign-out fa-2x fa-inverse"></i>           
            </button>      
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>  
</script>

<!-- DOOR CONTROL PARTIAL-->
<script type="text/ng-template" id="doorctrl.htm">
    <div ng-controller="DoorsCtrl">
      
      <div ng-show="!doors">
        <p align="center"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
        <p align="center">Loading door configuration...</p>
      </div> 
      
      <div ng-show="doors">      
        <tabset>
          <tab ng-repeat="door in doors">
            <tab-heading ng-class="{'hand': true}"><strong>{{door.Id}}</strong></tab-heading>
                <br>
                <div class="panel">
                  <div class="row">

                    <!-- LEFT -->

                    <div class="col-md-4">                
                      <div ng-repeat="reader in door.Reader" ng-if="reader.Direction == 'In'">
                        <reader></reader>
                      </div>
                      
                      <div ng-repeat="rex in door.REX" ng-if="rex.Direction == 'In'">
                        <rex></rex>
                      </div>            
                    </div>

                    <!-- MIDDLE -->

                    <div class="col-md-4">                    
                      <div class="row">
                        
                        <div class="col-md-6" ng-repeat="doormonitor in door.DoorMonitor">
                          <doormonitor></doormonitor>
                        </div>            
                        
                        <div class="col-md-6" ng-repeat="lock in door.Lock">
                          <lock></lock>
                        </div>                        

                        <div class="col-md-6" ng-repeat="input in door.Input">
                          <digitalinput></digitalinput>
                        </div>                        

                        <div class="col-md-6" ng-repeat="output in door.Output">
                          <digitaloutput></digitaloutput>
                        </div>                        

                      </div>
                    </div>

                    <!-- RIGHT -->

                    <div class="col-md-4">        
                      <div ng-repeat="reader in door.Reader" ng-if="reader.Direction == 'Out'">
                        <reader></reader>
                      </div>
                      <div ng-repeat="rex in door.REX" ng-if="rex.Direction == 'Out'">
                        <rex></rex>
                      </div> 
                    </div>


                  </div>
                </div>
          </tab>      
        </tabset>    
      </div>      
    </div>      

    <div class="row">
      <div class="col-md-12">
        <div ng-controller="AlertCtrl">
          <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <i class="fa fa-warning"></i> {{alert.msg}}
          </alert>
        </div>
       </div>     
    </div>
</script>

<!-- CONFIG PARTIAL-->
<script type="text/ng-template" id="config.htm"><div ng-controller="ConfigCtrl"><tabset>

<tab><tab-heading ng-class="{'hand': true}"><strong>Network</strong></tab-heading><br>

  <div ng-show="!network">
    <p align="center">
	  <i class="fa fa-spinner fa-spin fa-5x"></i>
	</p>
	<p align="center">Loading network configuration...</p>
  </div> 
  <div ng-show="network">	

  <div class="panel panel-default">
    <div class="panel-heading">
      Settings
    </div>
    <div class="panel-body">

      <form role="form">

        <div class="form-group">
	      <div class="row">
	        <div class="col-md-2"><label>MAC Address</label></div>
			<div class="col-md-10">
			  <p class="form-control-static">{{MACAddress}}</p>
			</div>
		  </div>
	      <div class="row">
	        <div class="col-md-2"><label>IP Address</label></div>
			<div class="col-md-10"><p class="form-control-static">{{network.Ethernet.IP}}</p></div>
		  </div>
	      <div class="row">
	        <div class="col-md-2"><label>Subnet Mask</label></div>
			<div class="col-md-10"><p class="form-control-static">{{network.Ethernet.Subnet}}</p></div>
		  </div>
	      <div class="row">
	        <div class="col-md-2"><label>Gateway</label></div>
			<div class="col-md-10"><p class="form-control-static">{{network.Ethernet.Gateway}}</p></div>
		  </div>
	      <div class="row">
	        <div class="col-md-2"><p class="form-control-static">DNS</label></div>
			<div class="col-md-10"><p class="form-control-static">{{network.Ethernet.DNS}}</p></div>
		  </div>
        </div>    
	</div>
    <div class="panel-heading">
      Configuration
    </div>
    <div class="panel-body">

        <div class="form-group">
	      <div class="row">
	        <div class="col-md-2"></div>
			<div class="col-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="inputDHCPEnabled" ng-model="network.DHCPEnabled" ng-init="checked = {{network.DHCPEnabled}}" ng-click="">DHCP Enabled
		        </label>
			  </div>
			</div>
          </div>
        </div>    
		
        <div class="form-group">
	      <div class="row">
	        <div class="col-md-2">
              <label>MAC Address</label>
		    </div>
			<div class="col-md-6">
			  <table style="border-collapse:separate;border-spacing:10px"><tr>
			    <td><input type="input" class="form-control hexNumber" maxlength="2" placeholder="00" ng-model="MAC[0]" ></td>
			    <td><input type="input" class="form-control hexNumber" maxlength="2" placeholder="00" ng-model="MAC[1]" ></td>
			    <td><input type="input" class="form-control hexNumber" maxlength="2" placeholder="00" ng-model="MAC[2]" ></td>
			    <td><input type="input" class="form-control hexNumber" maxlength="2" placeholder="00" ng-model="MAC[3]" ></td>
			    <td><input type="input" class="form-control hexNumber" maxlength="2" placeholder="00" ng-model="MAC[4]" ></td>
			    <td><input type="input" class="form-control hexNumber" maxlength="2" placeholder="00" ng-model="MAC[5]" ></td>
			  </tr></table>
			</div>
		  </div>
        </div>    

        <div class="form-group">
		  <div class="row">
		    <div class="col-md-2">
              <label for="inputIPAddress0">IP Address</label>
		    </div>
			<div class="col-md-10">
			  <table  style="border-collapse:separate;border-spacing:10px"><tr>
			  <td><input type="number" min="0" max="255" width="200" class="form-control" id="inputIP0" placeholder="0" ng-model="network.IP[0]"></td>
			  <td><input type="number" min="0" max="255" width="300" class="form-control" id="inputIP1" placeholder="0" ng-model="network.IP[1]"></td>
			  <td><input type="number" min="0" max="255" width="400" class="form-control" id="inputIP2" placeholder="0" ng-model="network.IP[2]"></td>
			  <td><input type="number" min="0" max="255" width="500" class="form-control" id="inputIP3" placeholder="0" ng-model="network.IP[3]"></td>
			  </tr></table>
			</div>
			
          </div>
        </div>    

        <div class="form-group">
		  <div class="row">
		    <div class="col-md-2">
              <label for="inputNetmask0">Subnet Mask</label>
			</div>
			<div class="col-md-10">
			  <table style="border-collapse:separate;border-spacing:10px"><tr>
			  <td><input type="number" min="0" max="255" width="200" class="form-control" id="inputSubnet0" placeholder="0" ng-model="network.Subnet[0]"></td>
			  <td><input type="number" min="0" max="255" width="300" class="form-control" id="inputSubnet1" placeholder="0" ng-model="network.Subnet[1]"></td>
			  <td><input type="number" min="0" max="255" width="400" class="form-control" id="inputSubnet2" placeholder="0" ng-model="network.Subnet[2]"></td>
			  <td><input type="number" min="0" max="255" width="500" class="form-control" id="inputSubnet3" placeholder="0" ng-model="network.Subnet[3]"></td>
			  </tr></table>
			</div>
		  </div>
        </div>    

        <div class="form-group">
		  <div class="row">
		    <div class="col-md-2">
              <label for="inputGateway0">Gateway</label>
			</div>
			<div class="col-md-10">
			  <table style="border-collapse:separate;border-spacing:10px"><tr>
			  <td><input type="number" min="0" max="255" width="200" class="form-control" id="inputGateway0" placeholder="0" ng-model="network.Gateway[0]"></td>
			  <td><input type="number" min="0" max="255" width="300" class="form-control" id="inputGateway1" placeholder="0" ng-model="network.Gateway[1]"></td>
			  <td><input type="number" min="0" max="255" width="400" class="form-control" id="inputGateway2" placeholder="0" ng-model="network.Gateway[2]"></td>
			  <td><input type="number" min="0" max="255" width="500" class="form-control" id="inputGateway3" placeholder="0" ng-model="network.Gateway[3]"></td>
			  </tr></table>
			</div>
		  </div>
        </div>    

        <div class="form-group">
		  <div class="row">
		    <div class="col-md-2">
              <label for="inputDNS0">DNS</label>
		    </div>
			<div class="col-md-10">
			  <table style="border-collapse:separate;border-spacing:10px"><tr>
			  <td><input type="number" min="0" max="255" width="200" class="form-control" id="inputDNS0" placeholder="0" ng-model="network.DNS[0]"></td>
			  <td><input type="number" min="0" max="255" width="300" class="form-control" id="inputDNS1" placeholder="0" ng-model="network.DNS[1]"></td>
			  <td><input type="number" min="0" max="255" width="400" class="form-control" id="inputDNS2" placeholder="0" ng-model="network.DNS[2]"></td>
			  <td><input type="number" min="0" max="255" width="500" class="form-control" id="inputDNS3" placeholder="0" ng-model="network.DNS[3]"></td>
			  </tr></table>
			</div>
		  </div>
        </div>    

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="inputHTTPPort">HTTP Port</label>
            </div>  
			<div class="col-md-10">
			  <table style="border-collapse:separate;border-spacing:10px"><tr>
			    <td><input type="number" min="0" max="65535" class="form-control" id="inputHTTPPort" ng-model="network.HTTPPort" placeholder="80"></td>
			  </tr></table>
			</div>  
		  </div>
        </div>    

        <div class="form-group">
		  <div class="row">
            <div class="col-md-2">
              <label for="inputWebsocketPort">WebSocket Port</label>
            </div>  
			<div class="col-md-10">
			  <table style="border-collapse:separate;border-spacing:10px"><tr>
			    <td><input type="number" min="0" max="65535" class="form-control" id="inputWebsocketPort" ng-model="network.WebsocketPort" placeholder="8888"></td>
			  </tr></table>
			</div>  
          </div>
        </div>    

        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-click="setNetworkConfig()">Apply</button>
        </div>
      </form> 

    </div> 
  </div>
  </div>
</tab>

<tab><tab-heading ng-class="{'hand': true}"><strong>Pin Mappings</strong></tab-heading><br>
  <div ng-show="!pins">
    <p align="center">
	  <i class="fa fa-spinner fa-spin fa-5x"></i>
	</p>
	<p align="center">Loading PIN Mappings...</p>
  </div> 
  <div ng-show="pins">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
	        <div class="row" ng-repeat="key in pinKeys">
	          <div class="col-md-1"><label>{{key}}</label></div>
			  <div class="col-md-2">
			    <input type="text" class="form-control" ng-model="pins[key]" ng-disabled="pins[key]=='RSV'">
			  </div>
		    </div>
	      </div>
        </form>		
        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-click="setPinConfig()">Apply</button>
        </div>
	  </div>
	</div>
  </div>
</tab>

<tab><tab-heading ng-class="{'hand': true}"><strong>Door Configuration</strong></tab-heading><br>
  <div ng-show="!doorConfig">
    <p align="center">
	  <i class="fa fa-spinner fa-spin fa-5x"></i>
	</p>
	<p align="center">Loading Door Configuration...</p>
  </div> 
  <div ng-show="doorConfig">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="25" ng-model="doorConfig"></textarea>
		  </div>
		</form>
        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-click="setDoorConfig(doorConfig)">Apply</button>
        </div>
	  </div>
	</div>
  </div>
</tab>
</tabset></div></script>

</head>

<!--
################################################################################################
#
#  MAIN BODY
#
################################################################################################
-->

<body>
  <br>
  <div class="container">

    <!-- NAVBAR -->

    <nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Door Controller Test Tool</a>
        </div>        
        <ul class="nav navbar-nav">
        </ul>  

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">           
            <li>
            <button ng-controller="NavCtrl" ng-click="toggleConnection()" id="connectionButton" class="btn btn-default navbar-btn">
              {{connectionButtonText()}}
            </button>
            </li>
             <li>&nbsp&nbsp</li> 
            <li ng-class="{'active': location.path() == '/'}"><a href="#">
            <i class="fa fa-male fa-lg"></i>&nbsp&nbspSimulate</a></li>
            <li ng-class="{'active': location.path() == '/config'}"><a href="#/config">
            <i class="fa fa-cog fa-lg"></i>&nbsp&nbspSettings</a></li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- MAIN VIEW AREA -->

    <div ng-view></div>

    <div>
      <p class="text-center"><small>Footer text placeholder.</small></p>
    </div>

  </div>
</body>
</html>